@media(max-width:1342px){

  .container{
    height: 70px;
    width: 300px;
    margin-bottom: 10px;
    margin-left: 50px;
    display: inline-block;
    position: relative;
    border: 3px solid grey;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

}