@media(max-width:1342px){

  .container{
    height: 70px;
    width: 450px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 125px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 190px;
}

.container-1 {
    height: 65px;
    width: 430px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    margin-left: 18px;
    font-size: 12px;
    border-top-style: none;
}

p{
  font-size: 9px;
}

h1 {
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

footer {
    font-family: French Script MT;
    font-size: 27px;
    color: white;
    height: 47px;
    background: rgba(51,51,51,0.70);
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 240px;
    margin-bottom: auto;
    line-height: 47px;
}


}

@media(max-width:1088px){


.container{
    height: 65px;
    width: 300px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

@media(max-width:1000px){

.container{
    height: 60px;
    width: 440px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 50px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 340px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

}

@media(max-width:990px){


.container {
    height: 55px;
    width: 390px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 35px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 295px;
}

.container-1 {
    height: 70px;
    width: 420px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

p{
  font-size: 10px;
}

h1 {
    font-size: 21px;
}

}

@media(max-width:860px){

.container {
    height: 60px;
    width: 385px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 290px;
}

.container-1 {
    height: 65px;
    width: 415px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    font-size: 12px;
    border-top-style: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

p{
  font-size: 9px;
}

h1 {
    font-size: 20px;
}

}

@media(max-width:834px){

.container {
    height: 58px;
    width: 390px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 250px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 26px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 280px;
}

.container-1 {
    height: 65px;
    width: 455px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    margin-left: 20px;
    font-size: 14px;
    border-top-style: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

p{
  font-size: 9px;
}

h1 {
    font-size: 20px;
}


}

@media(max-width:785px){

  .container {
    height: 55px;
    width: 360px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 12px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 265px;
}

.container-1 {
    height: 65px;
    width: 420px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    font-size: 14px;
    border-top-style: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

p{
  font-size: 9px;
}

h1 {
    font-size: 20px;
}


}

@media(max-width:750px){

  .body{
    width: 800px;
  }

  .container {
    height: 55px;
    width: 360px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 190px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 265px;
}

.container-1 {
    height: 65px;
    width: 415px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    font-size: 12px;
    border-top-style: none;
}

p{
  font-size: 9px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

h1 {
    font-size: 20px;
}

}

@media(max-width:730px){

.container {
    height: 55px;
    width: 360px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 180px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

}

@media(max-width:700px){

.container {
    height: 55px;
    width: 360px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 160px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

}

@media(max-width:670px){

.container {
    height: 55px;
    width: 360px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 140px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

}

@media(max-width:620px){

.container {
    height: 55px;
    width: 360px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 120px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

}

@media(max-width:580px){

.container {
    height: 55px;
    width: 360px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 100px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

}

@media(max-width:540px){

.container {
    height: 55px;
    width: 360px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 80px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

}

@media(max-width:500px){

.container {
    height: 55px;
    width: 360px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 60px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

}

@media(max-width:440px){

  .body{
    width: 800px;
  }

  .container {
    height: 55px;
    width: 360px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 30px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 265px;
}

.container-1 {
    height: 65px;
    width: 360px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    font-size: 14px;
    border-top-style: none;
}


h1 {
    font-size: 17px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

footer {
    font-family: French Script MT;
    font-size: 25px;
    color: white;
    height: 47px;
    background: rgba(51,51,51,0.70);
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}

}


@media(max-width:400px){

  .body{
    width: 800px;
  }

  .container {
    height: 55px;
    width: 340px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 225px;
}

.container-1 {
    height: 65px;
    width: 350px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    font-size: 11px;
    border-top-style: none;
}

p{
  font-size: 9px;
}

h1 {
    font-size: 16px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.form-elements {
    background: none;
    border: 8px solid gray;
    text-align: center;
    border-radius: 30px;
    width: 333px;
    padding-top: 15px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-family: French Script MT;
    font-size: 21px;
    color: white;
    height: 47px;
    background: rgba(51,51,51,0.70);
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}

}

@media(max-width:370px){

  .body{
    width: 800px;
  }

  .container {
    height: 55px;
    width: 330px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 255px;
}

.container-1 {
    height: 65px;
    width: 345px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    font-size: 14px;
    border-top-style: none;
}


h1 {
    font-size: 16px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.form-elements {
    background: none;
    border: 8px solid gray;
    text-align: center;
    border-radius: 30px;
    width: 333px;
    padding-top: 15px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-family: French Script MT;
    font-size: 23px;
    color: white;
    height: 47px;
    background: rgba(51,51,51,0.70);
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}

}


@media(max-width:350px){

  .body{
    width: 800px;
  }

  .container {
    height: 55px;
    width: 315px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 245px;
}

.container-1 {
    height: 60px;
    width: 320px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    font-size: 11px;
    border-top-style: none;
}

p{
  font-size: 9px;
}

h1 {
    font-size: 18px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.form-elements {
    background: none;
    border: 8px solid gray;
    text-align: center;
    border-radius: 30px;
    width: 333px;
    padding-top: 15px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-family: Helvetica, Arial;
    color: white;
    height: 47px;
    background: rgba(51,51,51,0.70);
    margin: 0px auto;
    width: 100%;
    padding-left: 55px;
    padding-right: 40px;
    margin-top: 50px;
    line-height: 47px;
}

}

@media(max-width:335px){

  .body{
    width: 800px;
  }

  .container {
    height: 55px;
    width: 285px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 17px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 200px;
}

.container-1 {
    height: 55px;
    width: 290px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    font-size: 11px;
    border-top-style: none;
}

p{
  font-size: 9px;
}

h1 {
    font-size: 18px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}


.form-elements {
    background: none;
    border: 8px solid gray;
    text-align: center;
    border-radius: 30px;
    width: 310px;
    padding-top: 15px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: auto;
}

footer {
    font-family: French Script MT;
    font-size: 18px;
    color: white;
    height: 47px;
    background: rgba(51,51,51,0.70);
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}


}

@media(max-width:300px){

  .body{
    width: 800px;
  }

  .container {
    height: 55px;
    width: 260px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #909090;
    border-radius: 30px;
    margin-left: 170px;
}

.container-1 {
    height: 55px;
    width: 270px;
    margin-top: 7px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: 5px;
    margin-right: auto;
}
.container p {
    display: inline;
    position: absolute;
    font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 40px;
    margin-top: 18px;
    margin-left: auto;
    font-size: 10px;
    border-top-style: none;
}

p{
  font-size: 9px;
}

h1 {
    font-size: 17px;
}

img {
    display: block;
    margin-left: 120px;
    margin-right: auto;
    width: 25%;
}


.form-elements {
    background: none;
    border: 8px solid gray;
    text-align: center;
    border-radius: 30px;
    width: 275px;
    padding-top: 15px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 3px;
    margin-right: auto;
}


footer {
    font-family: French Script MT;
    font-size: 21px;
    color: white;
    height: 47px;
    background: rgba(51,51,51,0.70);
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}

}


